/* This Resets All Styles */

* {
    margin: 0;
    padding: 0;
}

body

{
 background-color:  #FFFFFF;
 font-weight: 400;
 line-height: 1.60;
 color: #333;
}




/*style for lettering*/


h1,h2,h3,p
    {
     color: grey;
     font-weight: inherit;
      
    }

h1
    {
     text-transform: uppercase;  
    }

h1
    {
     font-family: 'Lato', sans-serif; 
     font-size: 3.157em;
     font-weight: 600;
    }

h2
    {
     font-family: 'Lato', sans-serif;  
     font-size: 2.369em;
    }

h3 
    {
     font-family: 'Lato', sans-serif;
     font-size: 1.777em;
     font-weight: 600;
     margin-top: 2%;
    }

li
    {
     font-family: 'Lato', sans-serif;
    }

p
    {
     font-family: 'Roboto', sans-serif;
     font-size:1.188em;
     margin-top: 2%;
     line-height: 2em;
    }

.aboutc
{
  color: red;
  opacity: 0.5;
}

.workc
{
 color: green;
 opacity: 0.5;
}

.contactc
{
 color: blue;
 opacity: 0.5;
}

/*Style for home section*/


#nav

{
    width: 100%; 
	height: 85px;
    background-color: #FFFFFF;
    opacity: 0.92;
	position: relative;
	margin-top: %;
    margin-left: -19.1%;
    margin-bottom: 155%;
    z-index: 9;
}

.ul
{
  color: grey;
  font-size: 1.188em;
  margin-left: 43%;
  padding-top: 30px;
  padding-right: 40px;
  text-decoration: none;
  z-index: 3;
}

 nav ul li
            {
             display: inline;
             margin: 10px;
             
            }


a:link {
    color: grey;
    text-decoration: none;
    
}

a:hover {
    font-weight: 900;
    opacity: 0.5;
}

a.homen:hover {color: yellow;}

a.aboutn:hover {color: red;}

a.workn:hover {color: green;}

a.contactn:hover {color: blue;}

a:visited {
    color: grey;
    opacity: 0.2;
}

.home
    {
     margin-top: 12%;
     max-height: 250px;
     min-height: 250px;
     margin-left: 19%;
 margin-right: 55%;
    }

.name
{
-letter-kern: -0.07em -0.06em -0.025em -0.08em 0.07em 0;
}


.name
{
 margin-left: -20%;
 margin-top: 50%;
 
}

.tag
{
 margin-top: -1%;
 margin-left: 31%;
 margin-right: 20%;
}

.me_c
{
 margin-left: 56%;
 margin-top: -17%;
 z-index: 1;
}


/*Layout for about section*/


.about
{
 width: 32%;
 margin-top: 6%;
 margin-left: 15%;
 margin-right: 53%;
}

.r_img
{
 margin-top: -45%;
 margin-left: 60%;
   
}

.bike
{
 margin-bottom: 0%;
 margin-left: 15%;
 
}

.pick
{
 width: 32%;
 margin-top: 4%;
 margin-left: 15%;
 margin-right: 53%;
}

/*Layout for work section*/

.work
{
 margin-top: 35%;
 margin-left: 15%;
 margin-right: 53%;
}

.container 
{
  overflow-y: auto;
  margin-left: 3%;
  margin-top: 0%;
}
.container > div 
{
  margin: 10px;
  width: 200px;
  height: 200px;
  background: white; 
  opacity: 0.7;
  float: left;
  color: #fff;
  text-align: center;
  border: 3px solid grey;
}

.book
{
 width: 150px;
 height: 200px;
}

.mono
{
margin-top: 30%;
}


/*Layout for contact section*/

.contact
{
 margin-top: 3%;
 margin-left: 15%;
 margin-right: 30%;
 margin-bottom: 4%;
}

.twitter
{
     font-family: 'Lato', sans-serif;
     font-size: 1.200em;
     font-weight: 600;
}

/*Media Querie 987- for text*/

@media screen and (max-width: 1150px)
{

.bike
{
 display: none;
}
    
#nav

{
    width: 100%; 
	height: 85px;
    background-color: #FFFFFF;
    opacity: 0.92;
	position: relative;
	margin-top: -0%;
    margin-left: -19.1%;
    margin-bottom: 200%;
    z-index: 9;
}

.ul
{
  color: grey;
  font-size: 1.188em;
  margin-left: 20%;
  padding-top: 30px;
  padding-right: 40px;
  text-decoration: none;
  z-index: 3;
}

.about
{
 min-width: 400px;
 margin-top: 70%;
}

.work
{
min-width: 400px;
margin-top: 55%;
}

.pick
{
min-width: 400px;
margin-top: 10%;
}
    
.me_c
{
 display: none;
}
}