/* This Resets All Styles */

* {
    hight: 100%;
    margin: 0;
    padding: 0;
    {font-size: 1.563em;}
}

body

{
 background-color:  #FFFFFF;
 
 font-weight: 400;
  line-height: 1.45;
  color: #333;
}




/*style for lettering*/


h1,h2,h3,p
    {
     color: grey;
     font-weight: inherit;
      
    }

h1,h2
    {
     text-transform: uppercase;  
    }

h1
    {
     font-family: 'Open Sans', sans-serif; 
     font-size: 3.157em;
     font-weight: 600;
    }

h2
    {
     font-family: 'Lato', sans-serif;  
     font-size: 2.369em;
    }

h3 
    {
     font-family: 'Lato', sans-serif;
     font-size: 1.777em;
     font-weight: 600;
     margin-top: 2%;
    }

li
    {
     font-family: 'Lato', sans-serif;
    }

p
    {
     font-family: 'Roboto', sans-serif;
     font-size:1.188em;
     margin-top: 2%;
     line-height: 1.4em;
    }

/*Style for home section*/


#nav

{
    width: 75%; 
	height: 85px;
    background-color: #FFFFFF;
    opacity: 0.92;
	position: relative;
	margin-top: -0%;
    margin-left: -3%;
    margin-bottom: 162%;
    z-index: 9;
}

.ul
{
  color: grey;
  font-size: 1.188em;
  margin-left: 35%;
  padding-top: 30px;
  padding-right: 40px;
  text-decoration: none;
  z-index: 3;
}

 nav ul li
            {
             display: inline;
             margin: 10px;
             
            }


a:link {
    color: grey;
    text-decoration: none;
    
}

a:hover {
    color: #4C4C4C;
    opacity: 0.7;
    font-weight: 900;
}

a:visited {
    color: grey;
    opacity: 0.2;
}

.home
    {
     margin-top: 12%;
     max-height: 250px;
     min-height: 250px;
     margin-left: 19%;
 margin-right: 55%;
    }

.name
{
-letter-kern: -0.07em -0.06em -0.025em -0.08em 0.07em 0;
}


.name
{
 margin-left: -25px;
 
}

.tag
{
 margin-top: 2%;
 margin-left: 46%;
 margin-right: 20%;
}

.me_c
{
 margin-left: 58%;
 margin-top: -12%;
 z-index: 1;
}


/*Layout for about section*/

.about
{
 margin-top: 1%;
 margin-left: 19%;
 margin-right: 49%;
}

.r_img
{
 margin-top: -45%;
 margin-left: 60%;
   
}

.bike
{
 margin-bottom: 0%;
 margin-left: 15%;
 
}

/*Layout for work section*/

.work
{
 margin-top: 5%;
 margin-left: 19%;
 margin-right: 49%;
}

.container 
{
  overflow-y: auto;
  margin-left: 3%;
  margin-top: 0%;
}
.container > div 
{
  margin: 10px;
  width: 200px;
  height: 200px;
  background: white ; 
  opacity: 0.7;
  float: left;
  color: #fff;
  text-align: center;
  border: 3px solid grey;
}

.book
{
 width: 150px;
 height: 200px;
}


/*Layout for contact section*/

.contact
{
 margin-top: 5%;
 margin-left: 19%;
 margin-right: 30%;
 margin-bottom: 5%;
}

.twitter
{
     font-family: 'Lato', sans-serif;
     font-size: 1.200em;
     font-weight: 600;
}


/*Layout for tables*/

table {
margin-top: 5%;
table-layout: fixed;
border-collapse: collapse;
width: 80%;  
border-spacing: 0;
border: 3px solid #CCC; 
}

td
{
 font-family: 'Lato', sans-serif; 
 padding-left: 2%;
 padding-bottom: 1%;
}

th
{
  padding-left: 2%;
  text-align: left; 
  font-family: 'Roboto', sans-serif; 
  border: 3px solid #CCC; 
}

caption
{
     font-family: 'Lato', sans-serif;
     font-size: 1.777em;
     font-weight: 600;
     margin-top: 2%;   
}


.tables
{
 margin-top: 35%;
 margin-left: 19%;
 margin-right: 52%;
}

.imd
{
 margin
}

.gcse
{
 margin-left: 10%;
 position: relative;
}

.a-level
{
 
 margin: 0px auto;
    position: relative;
}
